

          <div class = "btnncapture">
        <button class ="btn-cature-shipment">Capturar Embarque</button>
    </div>

<div class="capture-data-shipment-content">
  <span class="close">&#x3A7</span>
  <div  id="captureForm" class="shipment-content">
    <form method ="GET" action="/bordercross/capture">
  <h2>Embarque Caputura</h2>
  <label for="embarque">Embarque</label>
  <input type="text" name="embarque" id="embarque" placeholder="Referecia Externa">
  
  <label for="cliente">Cliente</label>
  <input type="text" name="cliente" id="cliente">
  
  <label for="referencia">Referencia Interna</label>
  <input type="text" name="referencia" id="referencia" placeholder="Referecia de Empresa">
  
  <label for="operacion">Operacion</label>
  <br>
  <select name="operacion" id="operacion" >
    <option value="2">Exportacion</option>
    <option value="1">Importacion</option>
  </select>
  <br>
  <label for="origen">Origen de Recoleccion</label>
  <input type="text" name="origen" id="origen" placeholder="Orgien de Recoleccion">
  
  <label for="destino">Direccion de Entrega</label>
  <input type="text" name="destino" id="destino" placeholder="Destino">
  
  <label for="trailer">Trailer</label>
  <input type="text" name="trailer" placeholder="Trailer Number" id="trailer">
  
  <label for="sello">Sello</label>
  <input type="text" name="sello" placeholder="Sello" id="sello">
  
  
  
  <button type="submit" id="capture">Submit</button>
  <button type="button" class="cancel">Cancel</button>
</form>
</div>    
</div>
