

    <div class ="btnUpdateshipment">
        <button class ="btn-cature-shipment">Actualizar Embarque</button>
    </div>
  <div class="capture-data-shipment-content">
    <div  id="update-shipment-container" >
      <span class="close">&#x3A7</span>
      <form id="update" class="shipment-content" method="POST" action="/bordercross/update">
        <h2>Capturar Eventos</h2>
          <div class="form-group-principal">
              <h3>Precaputura</h3>
              <label for="referencia">Embarque</label>
              <input type="text" name="referencia" id="referencia">
              
              <label for="operacion">Operacion</label>
              <input type="text" name="operacion" id="operacion">
              
              <label for="unidad">Unidad</label>
              <input type="text" name="unidad" id="unidad">
        
              <label for="caja">Caja</label>
              <input type="text" name="caja" id="caja">
             

              <label for="sello">Sello</label>
              <input type="text" name="sello" id="sello">

              <label for="referencia_interna">Referencia interna</label>
              <input type="text" name="referencia_interna" id="referencia_interna">
        
              <label for="cliente">Cliente</label>
              <input type="text" name="cliente" id="cliente">
        
      
              <label for="patio_origen">Patio Origen</label>
              <input type="time" name="patio_origen" id="patio_origen">
        
       
              <label for="patio_destion">Patio Destino</label>
              <input type="text" name="patio_destion" id="patio_destion">
            </div>
        
            <div class="form-group-pickup">
              <h3>Recoleccion</h3>
              <label for="recoleccion">llegada a Origen</label>
              <input type="text" name="recoleccion" id="recoleccion">
        
              <label for="salida">Salida de Patio</label>
              <input type="text" name="salida" id="salida">
            </div>
        
            <div class="form-group-customs">
              <h3>Aduana</h3>
              <label for="inspeccion_rojo">Rojo MX</label>
              <input type="text" name="inspeccion_rojo" id="inspeccion_rojo">
        
              <label for="sello_mex">Sello</label>
              <input type="text" name="sello_mex" id="sello_mex">
        
              <label for="verde_mex">Verde Mex</label>
              <input type="text" name="verde_mex" id="verde_mex">
              
              <h3>Aduana USA</h3>
              <label for="inspeccion_usa">Inspeccion USA</label>
              <input type="text" name="inspeccion_usa" id="inspeccion_usa">
        
              <label for="tipo_inspeccion">Tipo de Inspeccion</label>
              <input type="text" name="tipo_inspeccion" id="tipo_inspeccion">
        
              <label for="sello_usa">Sello</label>
              <input type="text" name="sello_usa" id="sello_usa">
            
        
              <label for="verde_usa">Verde USA</label>
              <input type="text" name="verde_usa" id="verde_usa">
            </div>
            <div class="form-group-deliver">
              <h3>Entrega</h3>
              <label for="resguardo">Resguardo</label>
              <input type="text" name="resguardo" id="resguardo">
            
              <label for="patio">Patio</label>
              <input type="text" name="patio" id="patio">
        
              <label for="entrega">Entrega</label>
              <input type="text" name="entrega" id="entrega">
        
              <label for="recibe">Recibe</label>
              <input type="text" name="recibe" id="recibe">
            </div>
        
            <button type="submit">Submit</button>
            <button type="button" class="cancel">Cancel</button>
          </form>
        </div>
      </div>    